@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700");
body {
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 90%;
  padding-bottom: 4rem; }
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
      padding-bottom: 2rem; } }
  @media (min-width: 768px) and (max-width: 1025px) {
    .container {
      max-width: 100%; } }

.sub-text {
  font-size: 0.875rem;
  padding-top: 1rem; }
  @media (max-width: 767px) {
    .sub-text {
      font-size: 0.75rem;
      padding-top: 0.5rem; } }

.para-link {
  color: #F27B1A;
  cursor: pointer; }
  .para-link:hover {
    color: #F27B1A; }

.checkbox-label {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (max-width: 767px) {
    .checkbox-label {
      padding-left: 20px; } }

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
  border-radius: 2px;
  background-color: #f7f7f7; }
  @media (max-width: 767px) {
    .checkmark {
      left: 0;
      height: 14px;
      width: 14px;
      top: 6px; } }

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #0B3C6D; }

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #0B3C6D; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media (max-width: 767px) {
    .checkbox-label .checkmark:after {
      left: 5px;
      top: 1px; } }

.cta {
  background-color: #F27B1A;
  position: relative;
  font-size: 1rem;
  color: white !important;
  line-height: 2rem;
  letter-spacing: 0.46px;
  text-align: center;
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  transition: background-color 0.2s ease-in; }
  @media (max-width: 767px) {
    .cta {
      width: 9rem;
      height: 2rem;
      font-size: 0.875rem; } }
  .cta:hover {
    background-color: #FFA117;
    text-decoration: none; }

footer {
  padding: 20px 0 30px;
  background-color: #053c6d;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    footer {
      padding: 0; } }
  @media (min-width: 768px) and (max-width: 1025px) {
    footer {
      padding: 0; } }
  @media (min-width: 1000px) and (max-width: 1025px) {
    footer {
      padding: 20px 0 30px;
      background-color: #053c6d;
      width: 100%;
      margin: 0 auto; } }
  footer .containers {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    list-style: none;
    min-height: 265px; }
    @media (max-width: 767px) {
      footer .containers {
        display: none; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      footer .containers {
        display: none; } }
    @media (min-width: 1000px) and (max-width: 1025px) {
      footer .containers {
        display: block; } }
    footer .containers li {
      min-height: 260px;
      width: 280px;
      float: left;
      display: inline-block;
      padding: 0 20px; }
      footer .containers li .textcontent {
        min-height: 260px;
        width: 186px;
        float: left; }
        footer .containers li .textcontent .header.first {
          margin: 0 0 5px; }
        footer .containers li .textcontent .header {
          font-weight: bold;
          margin: 15px 0 5px;
          font-family: Arial,Helvetica,sans-serif;
          color: #FFF;
          width: 100%;
          float: left;
          margin: 0 0 1px;
          text-decoration: none;
          text-align: left;
          padding-top: 1rem;
          font-size: 0.75rem; }
        footer .containers li .textcontent a {
          font-size: 10px;
          font-family: Arial,Helvetica,sans-serif;
          color: #FFF;
          width: 100%;
          float: left;
          margin: 0 0 1px;
          text-decoration: none;
          text-align: left; }
          footer .containers li .textcontent a:hover {
            text-decoration: underline; }
      footer .containers li fieldset {
        width: 260px;
        float: left;
        border: 0;
        margin: 0;
        padding: 0; }
        footer .containers li fieldset label {
          width: 100%;
          float: left;
          margin: 10px 0;
          font-size: 10px;
          font-family: Arial,Helvetica,sans-serif;
          color: #FFF; }
        footer .containers li fieldset form {
          position: relative; }
          footer .containers li fieldset form::before {
            background-image: url("../../img/selectionarrow-footer.png");
            content: "";
            position: absolute;
            right: 2em;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            top: 2.6em;
            transition: 0.4s all ease-in-out;
            background-size: 9px 15px;
            z-index: 0; }
        footer .containers li fieldset select {
          width: 14rem;
          height: 1.875rem;
          border: 0;
          border-radius: 0;
          outline: 0;
          -webkit-appearance: button;
          padding-left: 1em;
          font-size: 0.625rem !important;
          color: #666; }
          footer .containers li fieldset select::-ms-expand {
            display: none; }
        footer .containers li fieldset .selector {
          font-size: 12px;
          line-height: 30px;
          height: 30px;
          padding: 0 0 0 10px;
          position: relative;
          overflow: hidden;
          margin: 0; }
          footer .containers li fieldset .selector span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            display: block;
            color: #666;
            text-shadow: 0 1px 0 #fff;
            background-image: url("../img/sprites.png");
            background-position: -31px 0;
            background-repeat: no-repeat;
            -webkit-font-smoothing: antialiased; }
      footer .containers li .mtop {
        margin-bottom: 20px;
        margin-top: 20px; }
    footer .containers .first {
      padding: 0;
      width: 372px; }
    footer .containers .second {
      width: 260px;
      border-right: 1px solid #FFF;
      padding: 0 30px; }
    footer .containers .socialLinks .social-share {
      display: inline-flex; }
      footer .containers .socialLinks .social-share .tablerow {
        margin-right: 10px;
        line-height: 0; }
        footer .containers .socialLinks .social-share .tablerow .fa-facebook {
          font-size: 25px;
          height: 26px;
          width: 26px;
          text-align: center;
          background: white;
          padding: 0.2rem;
          color: #4267b2;
          padding-bottom: 0;
          padding-left: 8px; }
        footer .containers .socialLinks .social-share .tablerow .fa-twitter {
          font-size: 19px;
          height: 26px;
          width: 26px;
          text-align: center;
          background: white;
          padding: 0.2rem;
          color: #1da1f2; }
        footer .containers .socialLinks .social-share .tablerow .fa-linkedin {
          font-size: 22px;
          height: 26px;
          width: 26px;
          text-align: center;
          background: white;
          padding: 0.2rem;
          color: white;
          background: #0077B5; }
  footer .middleContainer {
    max-width: 975px !important;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #959595;
    line-height: 22px;
    width: 100%;
    margin: 5rem auto 0;
    padding-top: 1.5rem; }
    @media (max-width: 767px) {
      footer .middleContainer {
        padding-right: 0;
        margin: 0;
        line-height: 1.2em;
        text-align: left;
        padding: 10px 15px;
        color: #fff; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      footer .middleContainer {
        padding-right: 0;
        margin: 0;
        line-height: 1.2em;
        text-align: left;
        padding: 10px 15px;
        color: #fff; } }
    @media (min-width: 1000px) and (max-width: 1025px) {
      footer .middleContainer {
        margin: 5rem auto 0;
        line-height: 1.2em;
        text-align: center;
        padding: 1.5rem 15px 10px;
        color: #fff; } }
    footer .middleContainer .mobile-show {
      display: none; }
      @media (max-width: 767px) {
        footer .middleContainer .mobile-show {
          display: inline !important;
          font-size: 13px; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        footer .middleContainer .mobile-show {
          display: inline !important;
          font-size: 13px; } }
      @media (min-width: 1000px) and (max-width: 1025px) {
        footer .middleContainer .mobile-show {
          display: none !important; } }
    footer .middleContainer a {
      display: inline;
      margin: 0 5px;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 10px;
      color: #FFF;
      text-decoration: none; }
      footer .middleContainer a:hover {
        text-decoration: underline; }

.wrapper {
  background: white;
  box-shadow: 0 4px 5px rgba(102, 102, 102, 0.8);
  -webkit-box-shadow: 0 4px 5px rgba(102, 102, 102, 0.8); }
  .wrapper .head {
    height: 5rem; }
    @media (max-width: 767px) {
      .wrapper .head {
        display: none; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .wrapper .head {
        display: none; } }
    .wrapper .head .navbar-brand {
      padding: 0 5rem; }
      .wrapper .head .navbar-brand img {
        width: 12rem; }
  .wrapper header {
    background-color: #F27B1A;
    width: 100%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .wrapper header {
        background-color: white; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .wrapper header {
        background-color: white; } }
    .wrapper header .main-nav {
      padding: 0; }
      @media (max-width: 767px) {
        .wrapper header .main-nav {
          height: 100%; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .wrapper header .main-nav {
          height: 100%; } }
      .wrapper header .main-nav .mobile-btn {
        display: none; }
        @media (max-width: 767px) {
          .wrapper header .main-nav .mobile-btn {
            display: block; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .wrapper header .main-nav .mobile-btn {
            display: block; } }
        @media (max-width: 767px) {
          .wrapper header .main-nav .mobile-btn:focus {
            outline: none; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .wrapper header .main-nav .mobile-btn:focus {
            outline: none; } }
      .wrapper header .main-nav .nav-link {
        padding: 0; }
      .wrapper header .main-nav .updated-header {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto; }
        .wrapper header .main-nav .updated-header .menu {
          max-width: 870px;
          margin-left: -50px;
          float: left;
          padding: 0;
          margin: 0;
          height: 100%; }
          @media (max-width: 767px) {
            .wrapper header .main-nav .updated-header .menu {
              height: 102vh;
              overflow: scroll;
              background: #F27B1A;
              width: 100%;
              border-top: 1px solid #ffffff; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .wrapper header .main-nav .updated-header .menu {
              height: 100%;
              overflow: visible;
              background: #F27B1A;
              width: 100%;
              border-top: 1px solid #ffffff; } }
          .wrapper header .main-nav .updated-header .menu .search-mobile {
            display: none; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu .search-mobile {
                display: block; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu .search-mobile {
                display: block; } }
          .wrapper header .main-nav .updated-header .menu li {
            padding: 10px 8px !important;
            width: auto;
            float: left;
            display: inline-block;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 16px;
            color: #FFF;
            margin: 0 2px;
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li {
                height: auto;
                border-bottom: 1px solid #ffffff;
                justify-content: flex-start;
                margin: 0; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li {
                height: auto;
                border-bottom: 1px solid #ffffff;
                justify-content: flex-start;
                margin: 0; } }
            .wrapper header .main-nav .updated-header .menu li a {
              font-family: Arial,Helvetica,sans-serif;
              font-size: 14px;
              color: #FFF;
              text-decoration: none; }
              .wrapper header .main-nav .updated-header .menu li a:hover {
                color: #0B3C6D; }
              @media (max-width: 767px) {
                .wrapper header .main-nav .updated-header .menu li a {
                  margin-left: 1rem; } }
              @media (min-width: 768px) and (max-width: 1025px) {
                .wrapper header .main-nav .updated-header .menu li a {
                  margin-left: 1rem; } }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:hover {
                background-color: #FFA117 !important; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:hover {
                background-color: #FFA117 !important; } }
            .wrapper header .main-nav .updated-header .menu li:hover a {
              color: #0B3C6D; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:active {
                background-color: #FFA117 !important; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:active {
                background-color: #FFA117 !important; } }
            .wrapper header .main-nav .updated-header .menu li:active a {
              color: #0B3C6D; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:focus {
                background-color: #FFA117 !important; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:focus {
                background-color: #FFA117 !important; } }
            .wrapper header .main-nav .updated-header .menu li:focus a {
              color: #0B3C6D; }
          .wrapper header .main-nav .updated-header .menu li:nth-child(12) {
            background: url("../../img/help-navbar.png") 0 9px no-repeat;
            width: 20px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px 0 -3px !important;
            text-indent: 16px;
            background-size: contain; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(12) {
                width: 100%;
                background-image: None; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(12) {
                width: 100%;
                background-image: None;
                border-bottom: none; } }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(12):hover {
                background-color: #FFA117; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(12):hover {
                background-color: #FFA117; } }
            .wrapper header .main-nav .updated-header .menu li:nth-child(12):hover a {
              color: #0B3C6D; }
          .wrapper header .main-nav .updated-header .menu li:nth-child(11) {
            background: url("../../img/dealsandmore-navbar.png") 0 9px no-repeat;
            width: 150px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px 0 3px;
            text-indent: 16px;
            background-size: 19px; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(11) {
                width: 100%;
                background-image: None;
                margin: 0; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(11) {
                width: 100%;
                background-image: None;
                margin: 0; } }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(11):hover {
                background-color: #FFA117; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(11):hover {
                background-color: #FFA117; } }
            .wrapper header .main-nav .updated-header .menu li:nth-child(11):hover a {
              color: #0B3C6D; }
          .wrapper header .main-nav .updated-header .menu li:nth-child(11) a {
            border-right: 1px solid #f0b567;
            padding-right: 15px !important; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(11) a {
                border-right: none;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                margin-left: -2px;
                padding-bottom: 2rem; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(11) a {
                border-right: none;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                margin-left: -2px;
                padding-bottom: 2rem; } }
          .wrapper header .main-nav .updated-header .menu li:nth-child(12) a {
            border-right: 1px solid #f0b567;
            padding-right: 60px !important; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(12) a {
                border-right: none;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                margin-left: 2px;
                padding-bottom: 2rem; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu li:nth-child(12) a {
                border-right: none;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                margin-left: 2px;
                padding-bottom: 2rem; } }
          .wrapper header .main-nav .updated-header .menu .selected {
            background: url("../../img/selectionarrow-navbar.png") no-repeat top center;
            background-size: 15px; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .menu .selected {
                background-position: 50px 0 !important; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .menu .selected {
                background-position: 50px 0 !important; } }
        .wrapper header .main-nav .updated-header .SearcContainer {
          width: 230px;
          margin: 0;
          height: 32px;
          float: right;
          background-color: #FFF; }
          @media (max-width: 767px) {
            .wrapper header .main-nav .updated-header .SearcContainer {
              width: 100%;
              margin: 0;
              position: absolute; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .wrapper header .main-nav .updated-header .SearcContainer {
              width: 100%;
              margin: 0;
              position: absolute; } }
          .wrapper header .main-nav .updated-header .SearcContainer .form {
            width: 230px; }
          .wrapper header .main-nav .updated-header .SearcContainer input[type="text"] {
            width: 68%;
            padding: 0 10px;
            border: none;
            font-size: 0.75rem; }
            @media (max-width: 767px) {
              .wrapper header .main-nav .updated-header .SearcContainer input[type="text"] {
                width: 80%;
                padding-left: 2rem; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .wrapper header .main-nav .updated-header .SearcContainer input[type="text"] {
                width: 80%;
                padding-left: 2rem; } }
            .wrapper header .main-nav .updated-header .SearcContainer input[type="text"]:focus {
              outline: none; }
        .wrapper header .main-nav .updated-header .desktop-only {
          left: 12px !important;
          top: 22px !important;
          display: none; }
        .wrapper header .main-nav .updated-header .MagnifyingGlass {
          width: 65px;
          font-size: 14px;
          cursor: pointer;
          background: 0;
          height: 18px;
          line-height: 18px;
          display: inline-block;
          border: 0;
          color: #f07800;
          text-align: right;
          margin-top: 6px; }
  .wrapper .nav-header {
    height: auto; }
    @media (max-width: 767px) {
      .wrapper .nav-header {
        height: 100%; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .wrapper .nav-header {
        height: 100%; } }
    .wrapper .nav-header .navbar-brand-mobile {
      display: none; }
      @media (max-width: 767px) {
        .wrapper .nav-header .navbar-brand-mobile {
          display: block;
          padding: 1rem; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .wrapper .nav-header .navbar-brand-mobile {
          display: block;
          padding: 1rem; } }
      .wrapper .nav-header .navbar-brand-mobile img {
        width: 10rem; }
    .wrapper .nav-header .ham-icons {
      display: flex;
      justify-content: center;
      align-items: center; }
      .wrapper .nav-header .ham-icons .fa {
        color: white; }
        @media (max-width: 767px) {
          .wrapper .nav-header .ham-icons .fa {
            color: #F27B1A; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .wrapper .nav-header .ham-icons .fa {
            color: #F27B1A; } }
  @media (max-width: 767px) {
    .wrapper .mobLogoLink {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1025px) {
    .wrapper .mobLogoLink {
      display: none; } }
  @media (max-width: 767px) {
    .wrapper .SearcContainer {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1025px) {
    .wrapper .SearcContainer {
      display: none; } }
  .wrapper .seach-field {
    display: none;
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 2rem;
    box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
    border-radius: 5px;
    border: none;
    height: 2rem;
    font-size: 0.875rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: white; }
    @media (max-width: 767px) {
      .wrapper .seach-field {
        display: block; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .wrapper .seach-field {
        display: block; } }
    .wrapper .seach-field:focus {
      outline: none;
      border: 1px solid #F27B1A;
      background: #FFFFF9; }
    .wrapper .seach-field input:focus {
      outline: none; }
    .wrapper .seach-field .ui-autocomplete-input {
      width: 75%;
      border: none;
      outline: none; }
      @media (min-width: 768px) and (max-width: 1025px) {
        .wrapper .seach-field .ui-autocomplete-input {
          width: 90%; } }
      @media only screen and (max-width: 350px) {
        .wrapper .seach-field .ui-autocomplete-input {
          width: 73%; } }
  .wrapper .fa-times-circle {
    font-size: 1.9rem; }

.login {
  font-family: 'Helvetica'; }
  .login .banner {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 767px) {
      .login .banner {
        height: auto;
        display: block; } }
    .login .banner .banner-img {
      z-index: -1;
      height: 34rem;
      width: 100%;
      object-fit: cover;
      object-position: left;
      max-width: 1100px; }
      @media (max-width: 767px) {
        .login .banner .banner-img {
          height: 11rem;
          object-position: left; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .login .banner .banner-img {
          height: 30rem;
          object-position: left; } }
      @media (min-width: 1000px) and (max-width: 1025px) {
        .login .banner .banner-img {
          height: 30rem; } }
    .login .banner .container {
      position: absolute;
      top: 4%;
      max-width: 100%;
      z-index: 1;
      left: 0; }
      @media (max-width: 767px) {
        .login .banner .container {
          position: relative; } }
      @media only screen and (min-width: 1450px) {
        .login .banner .container {
          max-width: 100%; } }
      .login .banner .container .row {
        max-width: 960px;
        margin: 0 auto; }
      @media (max-width: 767px) {
        .login .banner .container .login_box {
          margin-top: -10%; } }
      @media (max-width: 767px) {
        .login .banner .container .content-box {
          position: absolute;
          z-index: 3;
          top: -35%;
          margin: 0 -15px; } }
      @media only screen and (max-width: 400px) {
        .login .banner .container .content-box {
          top: -39%; } }
      .login .banner .container .content {
        width: 67%;
        float: right;
        margin-right: -10%;
        margin-top: 10%;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.11); }
        @media (max-width: 767px) {
          .login .banner .container .content {
            width: 70%;
            margin: 0 0 0 auto; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .login .banner .container .content {
            margin-right: 0;
            width: 42%; } }
        .login .banner .container .content h5 {
          font-size: 1.75rem;
          color: white;
          font-weight: bold; }
          @media (max-width: 767px) {
            .login .banner .container .content h5 {
              font-size: 1.125rem; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .login .banner .container .content h5 {
              font-size: 1.4375rem; } }
        .login .banner .container .content p {
          font-size: 1rem;
          color: white; }
          @media (max-width: 767px) {
            .login .banner .container .content p {
              font-size: 0.75rem; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .login .banner .container .content p {
              font-size: 0.9375rem; } }
      .login .banner .container .login-text {
        border-radius: 5px;
        height: auto;
        background: white;
        width: 77%;
        margin: 0 0 0 auto;
        box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.39);
        -moz-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.39);
        -webkit-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.39); }
        @media (max-width: 767px) {
          .login .banner .container .login-text {
            width: 100%;
            margin: 0 auto;
            height: auto; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .login .banner .container .login-text {
            width: 97%;
            height: 25.5rem; } }
        @media (min-width: 1000px) and (max-width: 1025px) {
          .login .banner .container .login-text {
            width: 90%; } }
        .login .banner .container .login-text .row {
          margin: 0;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          @media (max-width: 767px) {
            .login .banner .container .login-text .row {
              padding: 1.5rem; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .login .banner .container .login-text .row {
              padding: 1.5rem; } }
          .login .banner .container .login-text .row label {
            font-size: 0.75rem;
            color: #194D7D;
            margin-bottom: 0.3rem; }
            @media (max-width: 767px) {
              .login .banner .container .login-text .row label {
                font-size: 0.75rem;
                margin-bottom: 0.2rem;
                padding-top: 0.0rem; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .login .banner .container .login-text .row label {
                font-size: 0.75rem;
                margin-bottom: 0.2rem;
                padding-top: 0.0rem; } }
          .login .banner .container .login-text .row .input-field {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .login .banner .container .login-text .row .input-field input {
              -webkit-appearance: none;
              -webkit-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
              -moz-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
              box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24) !important;
              border-radius: 5px;
              border: none;
              width: 85%;
              height: 1.8rem;
              font-size: 0.75rem;
              padding-right: 1rem;
              padding-left: 1rem;
              background-color: #f7f7f7; }
              @media (max-width: 767px) {
                .login .banner .container .login-text .row .input-field input {
                  width: 85%;
                  height: 2rem; } }
              @media (min-width: 768px) and (max-width: 1025px) {
                .login .banner .container .login-text .row .input-field input {
                  width: 85%;
                  height: 2rem; } }
              .login .banner .container .login-text .row .input-field input:focus {
                outline: none;
                border: 1px solid #F27B1A;
                background: #FFFFF9; }
            .login .banner .container .login-text .row .input-field img {
              width: 25px;
              padding: 0; }
              @media (max-width: 767px) {
                .login .banner .container .login-text .row .input-field img {
                  width: 20px; } }
              @media (min-width: 768px) and (max-width: 1025px) {
                .login .banner .container .login-text .row .input-field img {
                  width: 20px; } }
          .login .banner .container .login-text .row .checkbox-field {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            position: relative; }
            @media (max-width: 767px) {
              .login .banner .container .login-text .row .checkbox-field {
                height: 4rem;
                justify-content: flex-start; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .login .banner .container .login-text .row .checkbox-field {
                height: 4rem;
                justify-content: flex-start; } }
            .login .banner .container .login-text .row .checkbox-field .dropdown {
              box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
              -moz-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
              -webkit-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
              border-radius: 5px;
              width: 55%; }
              .login .banner .container .login-text .row .checkbox-field .dropdown .btn {
                background: white;
                border: none;
                height: 1.8rem;
                color: #4A4A4A;
                font-size: 0.75rem;
                justify-content: space-between;
                display: flex;
                align-items: center;
                border-radius: 5px;
                width: 100%; }
              .login .banner .container .login-text .row .checkbox-field .dropdown label {
                font-size: 0.625rem;
                margin-bottom: -0.2rem;
                color: #194D7D;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                height: 33px;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
                cursor: pointer; }
                @media (max-width: 767px) {
                  .login .banner .container .login-text .row .checkbox-field .dropdown label {
                    height: auto; } }
                @media (min-width: 768px) and (max-width: 1025px) {
                  .login .banner .container .login-text .row .checkbox-field .dropdown label {
                    height: auto; } }
                .login .banner .container .login-text .row .checkbox-field .dropdown label:hover {
                  background: #f1f1f1; }
                .login .banner .container .login-text .row .checkbox-field .dropdown label:active {
                  background: #f1f1f1; }
                .login .banner .container .login-text .row .checkbox-field .dropdown label:focus {
                  background: #f1f1f1; }
              .login .banner .container .login-text .row .checkbox-field .dropdown input:checked + label {
                color: #4A4A4A;
                padding-top: 0;
                margin: 4px 0; }
                @media (max-width: 767px) {
                  .login .banner .container .login-text .row .checkbox-field .dropdown input:checked + label {
                    margin: 5px 0; } }
                @media (min-width: 768px) and (max-width: 1025px) {
                  .login .banner .container .login-text .row .checkbox-field .dropdown input:checked + label {
                    margin: 5px 0; } }
                .login .banner .container .login-text .row .checkbox-field .dropdown input:checked + label:hover {
                  background: transparent; }
            .login .banner .container .login-text .row .checkbox-field .checkbox {
              margin-top: 3.2rem; }
              @media (max-width: 767px) {
                .login .banner .container .login-text .row .checkbox-field .checkbox {
                  margin-top: 3rem; } }
              @media (min-width: 768px) and (max-width: 1025px) {
                .login .banner .container .login-text .row .checkbox-field .checkbox {
                  margin-top: 3rem; } }
              .login .banner .container .login-text .row .checkbox-field .checkbox label {
                color: #194D7D;
                font-size: 0.625rem; }
                @media (max-width: 767px) {
                  .login .banner .container .login-text .row .checkbox-field .checkbox label {
                    font-size: 0.625rem;
                    padding-top: 6px; } }
                @media (min-width: 768px) and (max-width: 1025px) {
                  .login .banner .container .login-text .row .checkbox-field .checkbox label {
                    font-size: 0.625rem;
                    padding-top: 6px; } }
                .login .banner .container .login-text .row .checkbox-field .checkbox label input {
                  box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
                  -moz-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
                  -webkit-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.24);
                  border-radius: 5px;
                  border: none;
                  margin-right: 0.5rem; }
          .login .banner .container .login-text .row .truble-login {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .login .banner .container .login-text .row .truble-login .get {
              color: #0B3C6D;
              justify-content: flex-start; }
            .login .banner .container .login-text .row .truble-login .need-help a {
              color: #194D7D;
              font-size: 0.625rem;
              text-decoration: underline; }
              @media (max-width: 767px) {
                .login .banner .container .login-text .row .truble-login .need-help a {
                  font-size: 0.625rem; } }
              @media (min-width: 768px) and (max-width: 1025px) {
                .login .banner .container .login-text .row .truble-login .need-help a {
                  font-size: 0.625rem; } }
          .login .banner .container .login-text .row .get {
            width: 72%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            color: #F27B1A;
            font-size: 0.625rem;
            font-style: oblique;
            padding-top: 0.5rem;
            cursor: pointer; }
            @media (max-width: 767px) {
              .login .banner .container .login-text .row .get {
                font-size: 0.625rem;
                padding-top: 0.3rem; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .login .banner .container .login-text .row .get {
                font-size: 0.625rem;
                padding-top: 0.3rem; } }
            .login .banner .container .login-text .row .get:hover {
              text-decoration: underline; }
          .login .banner .container .login-text .row h5 {
            color: #F27B1A;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: baseline;
            font-weight: bold; }
            @media (max-width: 767px) {
              .login .banner .container .login-text .row h5 {
                font-size: 1rem; } }
            @media (min-width: 768px) and (max-width: 1025px) {
              .login .banner .container .login-text .row h5 {
                font-size: 1rem; } }
            .login .banner .container .login-text .row h5 img {
              width: 11px;
              margin-right: 0.5rem; }
        .login .banner .container .login-text .cta {
          margin: 1.2rem 0;
          box-shadow: 0 4px 10px 0 rgba(242, 123, 26, 0.45);
          -moz-box-shadow: 0 4px 10px 0 rgba(242, 123, 26, 0.45);
          -webkit-box-shadow: 0 4px 10px 0 rgba(242, 123, 26, 0.45); }
          @media (max-width: 767px) {
            .login .banner .container .login-text .cta {
              margin: 1.3rem 0; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .login .banner .container .login-text .cta {
              margin: 1.3rem 0; } }
  .login .notice .container {
    width: 100%; }
    .login .notice .container .row {
      max-width: 960px;
      margin: -3rem auto 0 !important; }
      @media (max-width: 767px) {
        .login .notice .container .row {
          margin: 0 auto 0 !important; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .login .notice .container .row {
          margin: 2rem auto 0 !important; } }
    .login .notice .container .sub-text {
      font-size: 0.75rem; }
      @media (max-width: 767px) {
        .login .notice .container .sub-text {
          font-size: 0.625rem; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .login .notice .container .sub-text {
          font-size: 0.625rem; } }
  .login .notice .main-div {
    margin-top: -5rem; }
    @media (max-width: 767px) {
      .login .notice .main-div {
        margin-top: 24.5rem; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .login .notice .main-div {
        margin-top: 2rem; } }
    @media (max-width: 767px) {
      .login .notice .main-div .col-md-4 {
        padding-top: 2rem; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .login .notice .main-div .col-md-4 {
        padding-top: 0;
        padding-left: 0; } }
  .login .notice .info {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.39);
    -moz-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.39);
    -webkit-box-shadow: 0 2px 5px 0 rgba(113, 113, 113, 0.39);
    border-radius: 5px;
    padding: 2rem;
    height: 100%; }
    @media (max-width: 767px) {
      .login .notice .info {
        padding: 1.5rem 1.5rem 0.5rem; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .login .notice .info {
        padding: 1.5rem 1.5rem 0.5rem; } }
  /*.login .notice .col-md-7 .info {
    width: 116%; }*/
	.login .notice .col-md-7 .info{padding: 0.8rem 2rem;}
    @media (max-width: 767px) {
      .login .notice .col-md-7 .info {
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .login .notice .col-md-7 .info {
        width: 100%; } }
    .login .notice .col-md-7 .info h5 {
      color: #0B3C6D;
      font-size: 1rem;
      font-weight: bold; }
      @media (max-width: 767px) {
        .login .notice .col-md-7 .info h5 {
          font-size: 1rem; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .login .notice .col-md-7 .info h5 {
          font-size: 1rem; } }
    .login .notice .col-md-7 .info ul {
      padding: 0;
      counter-reset: my-sec-counter;
      list-style-type: none; }
      .login .notice .col-md-7 .info ul li {
        font-size: 0.75rem;
        padding-top: 0.5rem; }
        @media (max-width: 767px) {
          .login .notice .col-md-7 .info ul li {
            font-size: 0.75rem;
            padding-top: 0.5rem; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .login .notice .col-md-7 .info ul li {
            font-size: 0.75rem;
            padding-top: 0.5rem; } }
        .login .notice .col-md-7 .info ul li .sub-text {
          font-size: 0.75rem; }
          @media (max-width: 767px) {
            .login .notice .col-md-7 .info ul li .sub-text {
              font-size: 0.75rem; } }
          @media (min-width: 768px) and (max-width: 1025px) {
            .login .notice .col-md-7 .info ul li .sub-text {
              font-size: 0.75rem; } }
      .login .notice .col-md-7 .info ul li::before {
        counter-increment: my-sec-counter;
        content: counter(my-sec-counter) ") "; }
  /*.login .notice .col-md-5 .info {
    padding: 1.5rem;
    width: 77%;
    margin: 0 0 0 auto; }*/
	.login .notice .col-md-5 .info{padding: 0.8rem 2rem;}
    @media (max-width: 767px) {
      .login .notice .col-md-5 .info {
        margin-top: 2rem;
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .login .notice .col-md-5 .info {
        width: 97%; } }
    /*.login .notice .col-md-5 .info .heading {
      display: flex;
      align-items: center; }*/
	  .login .notice .col-md-5 .info .heading{margin-top: -8px;}
      .login .notice .col-md-5 .info .heading h5 {
        color: #0B3C6D;
        font-size: 1rem;
        margin-top: 9px;
        margin-left: 8px;
        font-weight: bold; }
        @media (max-width: 767px) {
          .login .notice .col-md-5 .info .heading h5 {
            font-size: 1rem;
            margin-top: 0; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .login .notice .col-md-5 .info .heading h5 {
            font-size: 1rem;
            margin-top: 0; } }
      .login .notice .col-md-5 .info .heading img {
        width: 15px; }
        @media (max-width: 767px) {
          .login .notice .col-md-5 .info .heading img {
            margin-bottom: 0.5rem; } }
    /*.login .notice .col-md-5 .info ul {
      padding: 0 0 0 1.2rem;
      list-style: none; }*/
	  .login .notice .col-md-5 .info ul { margin-top: -11px;} 
      .login .notice .col-md-5 .info ul li {
        font-size: 0.75rem;
        padding-top: 0.5rem; }
        @media (max-width: 767px) {
          .login .notice .col-md-5 .info ul li {
            font-size: 0.75rem;
            padding-top: 0.5rem; } }
        @media (min-width: 768px) and (max-width: 1025px) {
          .login .notice .col-md-5 .info ul li {
            font-size: 0.75rem;
            padding-top: 0.5rem; } }
      .login .notice .col-md-5 .info ul li::before {
        content: "\2022";
        color: #212529;
        font-weight: bold;
        width: 1em;
        margin-left: -0.6em;
        font-size: 1.625rem;
        /* top: 1rem; */
        position: absolute;
        margin-top: -0.6rem; }
  .login .notice h5 {
    font-size: 0.875rem;
    color: #0B3C6D;
    font-weight: bold; }
  .login .notice .sub-head {
    padding: 0;
    font-weight: lighter;
    font-size: 0.875rem; }
    @media (max-width: 767px) {
      .login .notice .sub-head {
        margin-top: -1.5rem; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .login .notice .sub-head {
        margin-top: -1.5rem; } }
  .login .notice .online {
    padding: 0; }
    .login .notice .online p {
      margin: 0; }

.dropdown-el {
  min-width: 11em;
  position: absolute;
  display: inline-block;
  margin-right: 1em;
  min-height: 1.8em;
  max-height: 1.8em;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  transition: 0.0s all ease-in-out; }
  @media (max-width: 767px) {
    .dropdown-el {
      min-height: 2rem;
      max-height: 2rem;
      min-width: 10em; } }
  @media (min-width: 768px) and (max-width: 1025px) {
    .dropdown-el {
      min-height: 2rem;
      max-height: 2rem;
      min-width: 10em; } }
  .dropdown-el::after {
    background-image: url("../../img/dropdown.png");
    content: "";
    position: absolute;
    right: 0.8em;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    top: 0.75em;
    transition: 0.4s all ease-in-out;
    background-size: 12px 8px; }
    @media (max-width: 767px) {
      .dropdown-el::after {
        background-size: 10px 7px;
        top: 0.75em; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .dropdown-el::after {
        background-size: 10px 7px;
        top: 0.75em; } }
  .dropdown-el.expanded {
    background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;
    max-height: 22em; }
    .dropdown-el.expanded label {
      border-top: 1px solid #eaeaea; }
      .dropdown-el.expanded label:hover {
        color: #3694d7; }
    .dropdown-el.expanded input:checked + label {
      color: #3694d7; }
    .dropdown-el.expanded::after {
      transform: rotate(-180deg);
      top: 0.55em; }
  .dropdown-el input {
    display: none; }
  .dropdown-el label {
    border-top: 1px solid #D8D8D8;
    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out; }
    @media (max-width: 767px) {
      .dropdown-el label {
        border-top: none; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .dropdown-el label {
        border-top: none; } }
    .dropdown-el label:nth-child(2) {
      margin-top: 3em;
      border-top: 1px solid #D8D8D8; }
      @media (max-width: 767px) {
        .dropdown-el label:nth-child(2) {
          border-top: none; } }
      @media (min-width: 768px) and (max-width: 1025px) {
        .dropdown-el label:nth-child(2) {
          border-top: none; } }
  .dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0; }
    .dropdown-el input:checked + label:nth-child(2) {
      margin-top: 0;
      position: relative; }

.content-bottom {
  max-width: 960px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .content-bottom {
      margin-top: 3rem;
      padding: 0 1rem; } }

.col-md-7 {
  padding-left: 0; }
  @media (max-width: 767px) {
    .col-md-7 {
      padding-left: 15px; } }

.col-md-5 {
  padding-right: 0; }
  @media (max-width: 767px) {
    .col-md-5 {
      padding-right: 15px; } }

/*# sourceMappingURL=main.css.map */
